<body style='background-color:AntiqueWhite;'>
  <p><font size='7' face='Lucida Console'>Welcome to Birthday Greeter </font></p>
  <p><font size='4' face='Courier New'>Please enter your name and birthday </font></p>
</body>
